/* Start your code here: */
html {
	box-sizing: border-box;
	font-family: @font-stack;
	font-size: 16px;
	scroll-behavior: smooth;
}
body {
	background-color: @primary-background;
}
h1 {
	font-size: 2rem;
	font-weight: @semibold-weight;
}
h2 {
	font-size: 1.5rem;
	font-weight: @semibold-weight;
}
p {
	font-weight: @light-weight;
}
.flex {
	display: flex;
}

/* Header & Nav Styles */
header {
	background-color: @primary-background;
	color: @font-color;
	position: fixed;
	z-index: 999;
	width: 100%;
	padding: 1.5rem 0;
	border-bottom: 1px solid #fff;
}
nav {
	display: flex;
	justify-content: space-between;
	height: 100%;
    width: 100%;

    #logo {
        margin-left: 1rem;
        width: 25%;
    }
}
.nav-list {
	display: flex;
	list-style: none;
    margin-right: 1rem;
    
    a {
        align-self: center;
        padding: 1rem;
        text-decoration: none;
        color: @font-color;
        border-radius: 10px;
        font-weight: @semibold-weight;
    }
    a:hover {
        background-color: @primary-orange;
        color: #000;
        transition-duration: .4s;
    }
}


/* Hero Section Styles */
#hero {
	position: relative;
	text-align: center;
	color: @font-color;
    width: 100%;
    
    #hero-logo {
        position: absolute;
        width: 55%;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    img {
        width: 100%;
        margin-top: 96px;
    }
}  

/* Number 1 Section Styles */
#number1 {
    margin: 3rem 1rem;
    
    h2 {
        color: @font-color;
        text-align: center;
        margin: 1rem 1rem .5rem 1rem;
    }
    #graphic {
        width: 100%;
    }
} 
.number1-img {
	display: none;
	width: 100%;
	margin-top: .5rem;
}

/* About Us Section Styles */
#about {
	background-color: @secondary-background;
	margin: 0 .5rem;
    padding: 1rem;
    
    h2 {
        text-align: center;
        margin-top: .5rem;
    }
    p {
        line-height: 1.25rem;
    }
    img {
        width: 100%;
        padding: 1rem 4rem 1rem 0;
    }
}

/* Bikes Section Styles */
#bikes {
    margin: 3rem 1rem 3rem 1rem;
    
    h2 {
        text-align: center;
        color: @font-color;
        margin: 2rem 1rem .5rem 1rem;
    }
    figure {
        margin-bottom: 1rem;
    }
    figure img {
        width: 100%;
        transition: all .3s;
        border-radius: 5px;
    }
    figure img:hover {
        transform: scale(1.025);
    }
    figure figcaption {
        color: @font-color;
        font-size: .75rem;
        text-align: center;
        padding-top: .25rem;
    }
} 

/* Share Section Styles */
#share {
    margin: 1rem;
    
    h2 {
        text-align: center;
        color: @font-color;
        line-height: 1.5rem;
    }
    img {
        width: 100%;
        padding-top: 1rem;
    }
    a {
        margin: 0;
        padding: 0;
        justify-content: center;
    }
}
.share-button {
	background-color: @primary-orange;
	margin: .5rem;
	padding: 1rem 0 1rem 0;
	border-radius: 10px;
	font-size: .75rem;
	font-weight: @semibold-weight;
	text-align: center;
	width: 150px;
	transition: all .4s ease;
	cursor: pointer;
}
.share-button:hover {
	transform: scale(1.1);
}

/* Footer Styles */
footer {
	margin: 0;
	padding: 1rem;
	background-color: @secondary-background;
    text-align: center;
    
    #contact h2, p {
        padding: .5rem;
    }
    #social h2 {
        padding: .5rem;
    }
    .fab {
        color: @primary-orange;
        font-size: 2.5rem;
        padding: .5rem;
    }
}

/* Media Queries */
@media only screen and (max-width: 325px) {
	.nav-list a {
		padding: .5rem;
	}
}
@media only screen and (min-width: 450px) {
	#number1 h2 {
		margin: 1rem 1.5rem .5rem 1.5rem;
		line-height: 1.5rem;
	}
}
@media only screen and (min-width: 465px) {
	nav #logo {
		width: 20%;
	}
	#number1 h2 {
		margin: 1rem 2rem .5rem 2rem;
		line-height: 1.5rem;
	}
}
@media only screen and (min-width: 481px) {
	nav #logo {
		width: 20%;
	}
	#number1 h2 {
		margin: 1rem 2.5rem .5rem 2.5rem;
		line-height: 1.5rem;
	}
}
@media only screen and (min-width: 500px) {
	nav #logo {
		width: 20%;
	}
	#hero #hero-logo {
		position: absolute;
		width: 55%;
		top: 35%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#number1 h2 {
		margin: 1rem 4rem .5rem 4rem;
		line-height: 1.5rem;
	}
}
@media only screen and (min-width: 601px) {
	#bike-gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	#bike-gallery figure {
		flex-basis: 45%;
	}
	#share-gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	#share-gallery img {
		width: 45%;
		padding: 1rem .25rem;
	}
}
@media only screen and (min-width: 768px) {
	nav #logo {
		width: 15%;
	}
	#number1 #container {
		display: flex;
		flex-direction: row;
	}
	.number1-img {
		display: flex;
		width: 25%;
	}
	.first {
		order: 1;
	}
	.third {
		order: 3;
	}
	#number1 #graphic {
		order: 2;
		width: 50%;
	}
}
@media only screen and (min-width: 900px) {
	nav #logo {
		width: 10%;
	}
	#about div {
		display: flex;
		justify-content: space-between;
	}
	#about div > p {
		order: 2;
		width: 50%;
		align-self: center;
		line-height: 1.75rem;
	}
	#about img {
		width: 50%;
	}
	#bike-gallery figure {
		flex-basis: 30%;
	}
}
@media only screen and (min-width: 1028px) {
	#hero #hero-logo {
		width: 50%;
		top: 40%;
	}
	#number1, #about {
		margin-top: 2rem;
	}
	#share-gallery img {
		width: 22%;
		padding-top: 1rem;
	}
	#share a.flex {
		flex-direction: row;
	}
}